/*Modification apporté au différente IMG par des balises adéquate*/

.citation {
    font-size: 1.4em;
    font-style: italic;
}

.author {
    font-size: 0.7em;
    font-style: normal;
}

.text-visibility__access {
    font-size: 0.9em;
}

/*Footer*/

.content-list,
.center-elt,
.list-item {
    display: flex;
    justify-content: center;
}

.list-item {
    align-items: center;
}

.list-item li {
    list-style-type: none;
    padding: 0 8px;
}

.list-item a {
    color: #fff !important;
    font-size: 1.1em;
}

.title-list {
    color: #fff !important;
    padding-right: 7px;
}



